@use 'base/mixins' as m;
@use 'base/variables' as v;

.demo{
    margin: 2rem 0;
    align-items: center;
    gap: 1rem;
    @include m.tablet {   
        display: flex;
        gap: v.$separacion;
    }
    &__imagen{
        width: 20rem;
        height: 25rem;
        object-fit: cover;
        margin: 0 auto;
    }
    &__texto{
        text-align: center;
        @include m.tablet { 
            text-align: left;
        }
    }
    &__imagen,
    &__texto{
        flex: 1;
    }
    &__boton{
        margin: 1rem 0 3rem auto;
        background-color: v.$secundario;
        @include m.tablet { 
            margin: 1rem 0 0 auto;
        }
    }
}
